PORT=
NODE_ENV=

MONGODB_URI=
REDIS_URL=

JWT_SECRET=
JWT_EXPIRES_IN=
JWT_COOKIE_EXPIRES_DAYS=

REFRESH_TOKEN_SECRET=
REFRESH_TOKEN_EXPIRES_IN=
REFRESH_TOKEN_COOKIE_DAYS=

GOOGLE_CLIENT_ID=

APPLE_KEY_ID=
APPLE_PRIVATE_KEY=
APPLE_CLIENT_ID=
APPLE_TEAM_ID=

EMAIL_HOST=
EMAIL_PORT=
EMAIL_USER=
EMAIL_PASS=

STRIPE_SECRET=
STRIPE_WEBHOOK_SECRET=

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

FRONTEND_URL=